[submodule "sawtooth-sdk-cxx"]
	path = sawtooth-sdk-cxx
	url = https://github.com/hyperledger/sawtooth-sdk-cxx
[submodule "sawtooth-sdk-python"]
	path = sawtooth-sdk-python
	url = https://github.com/adi-g15/sawtooth-sdk-python
[submodule "sawtooth-sdk-java"]
	path = sawtooth-sdk-java
	url = https://github.com/hyperledger/sawtooth-sdk-java
[submodule "sawtooth-sdk-javascript"]
	path = sawtooth-sdk-javascript
	url = https://github.com/hyperledger/sawtooth-sdk-javascript
[submodule "sawtooth-sdk-rust"]
	path = sawtooth-sdk-rust
	url = https://github.com/hyperledger/sawtooth-sdk-rust
